.navvbar{
  background-color:rgb(73, 74, 74); ;
  font-size: large;
font-style: bold;

}
.navvitem{


  justify-content:space-evenly;

}
/* Assuming you have a class name for your navbar, let's use .navbar for example */
.navbar-nav .nav-link {
  color: white;

}

/* Optionally, set the color for the active link */
.navbar-nav .nav-item.active .nav-link {

  color: #0400ff; /* Adjust the color for the active link as needed */
}
.placetext {
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end; /* Align items to the end (right side) */
  color: rgb(6, 231, 51);
  margin-left: 60px;
}













