
  .cardd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    margin: auto; /* Center horizontally */
    margin-top: 20vh; /* Center vertically based on the viewport height */
    transition: box-shadow 0.5s ease-in-out;
  }
  .cardd:hover {
    box-shadow: 15px 8px 20px rgba(15, 1, 1, 0.2); /* Adjust the shadow on hover */
    background-color:hsl(0, 0%, 100%)
  }

  .container- {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(73, 73, 74); /* Fixed background color */
    color: #ede3e3;
    padding: 10px;
    width: 100%;
    text-align: center;
    z-index: 1000;
    overflow: hidden;
  }
  
  .top-text {
    display: inline-block;
    white-space: nowrap;
    animation: moveLeft 30s linear infinite;
  }
  
  @keyframes moveLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .bgimg{

    background-image: url('https://t3.ftcdn.net/jpg/03/39/70/90/240_F_339709048_ZITR4wrVsOXCKdjHncdtabSNWpIhiaR7.jpg');
  background-size:contain;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
 

  }
  
  
 